@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.about-info-wrapper {
  color: #06303F;
}

.about-info-wrapper .about-info-container {
  width: 100%;
  padding: 2rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify;
}

.about-info-wrapper .about-info-container .about-body .about-body-p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7rem 1fr;
      grid-template-columns: 7rem 1fr;
  -ms-grid-rows: 5.5rem 13rem 10rem;
      grid-template-rows: 5.5rem 13rem 10rem;
  margin: 0 auto;
}

.about-info-wrapper .about-info-container .about-body .about-body-p .about-info-h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-family: "Merriweather", serif;
  width: 11rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1/2 /span 1/span 2;
}

.about-info-wrapper .about-info-container .about-body .about-body-p .about-info-p {
  font-size: 0.9rem;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2/2;
  text-indent: 30px;
}

.about-info-wrapper .about-info-container .about-body .about-body-p .about-phone {
  width: 8rem;
  height: 13rem;
  margin-left: -1rem;
  margin-top: 4.7rem;
}

.about-info-wrapper .about-info-container .about-body .about-body-p .ab-p2 {
  font-size: 0.9rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1 / span 1 /span 2;
}

.about-info-h1:before {
  content: '';
  background-color: #06303F;
  height: 0.3rem;
  width: 3.5rem;
  display: block;
  margin-left: 0.5rem;
  margin-bottom: -0.2rem;
}

@media screen and (min-width: 518px) {
  .about-info-wrapper {
    color: #06303F;
  }
  .about-info-wrapper .about-info-container {
    width: 100%;
    padding: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    text-align: justify;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11rem 1fr;
        grid-template-columns: 11rem 1fr;
    -ms-grid-rows: 5.5rem 1fr 10rem;
        grid-template-rows: 5.5rem 1fr 10rem;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: "Merriweather", serif;
    width: 11rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2 /span 1/span 2;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-p {
    font-size: 0.9rem;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2/2;
    margin-bottom: 1rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-phone {
    width: 12rem;
    height: 20rem;
    margin-left: -1.5rem;
    margin-top: 3.7rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .ab-p2 {
    font-size: 0.9rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3/2 / span 1 /span 2;
  }
}

@media screen and (min-width: 830px) {
  .about-info-wrapper {
    color: #06303F;
  }
  .about-info-wrapper .about-info-container {
    width: 100%;
    padding: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    text-align: justify;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11rem 1fr;
        grid-template-columns: 11rem 1fr;
    -ms-grid-rows: 5.5rem 1fr 10rem;
        grid-template-rows: 5.5rem 1fr 10rem;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: "Merriweather", serif;
    width: 11rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2 /span 1/span 2;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-p {
    font-size: 1.1rem;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2/2;
    margin-bottom: 1rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-phone {
    width: 12rem;
    height: 20rem;
    margin-left: -1.5rem;
    margin-top: 3.7rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .ab-p2 {
    font-size: 1.1rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3/2 / span 1 /span 2;
  }
}

@media screen and (min-width: 1024px) {
  .about-info-wrapper {
    color: #06303F;
  }
  .about-info-wrapper .about-info-container {
    width: 100%;
    padding: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    text-align: justify;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18rem 1fr;
        grid-template-columns: 18rem 1fr;
    -ms-grid-rows: 5.5rem 1fr 19rem;
        grid-template-rows: 5.5rem 1fr 19rem;
    margin: 0 auto;
    max-width: 100%;
    width: 90%;
    height: 33rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: "Merriweather", serif;
    width: 11rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2 /span 1/span 2;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-p {
    font-size: 1.2rem;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2/2;
    margin-bottom: 1rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-phone {
    width: 20rem;
    height: 32rem;
    margin-left: -1.5rem;
    margin-top: 2.5rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .ab-p2 {
    font-size: 1.2rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3/2 / span 1 /span 2;
  }
}

@media screen and (min-width: 1286px) {
  .about-info-wrapper {
    color: #06303F;
  }
  .about-info-wrapper .about-info-container {
    width: 100%;
    padding: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    text-align: justify;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30rem 1fr;
        grid-template-columns: 30rem 1fr;
    -ms-grid-rows: 5.5rem 1fr 19rem;
        grid-template-rows: 5.5rem 1fr 19rem;
    margin: 0 auto;
    max-width: 100%;
    width: 90%;
    height: 33rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: "Merriweather", serif;
    width: 11rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2 /span 1/span 2;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-p {
    font-size: 1.2rem;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2/2;
    margin-bottom: 2rem;
    margin-right: 5rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-phone {
    width: 23rem;
    height: 37rem;
    margin-left: 7.5rem;
    margin-top: -2rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .ab-p2 {
    font-size: 1.2rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3/2 / span 1 /span 2;
    margin-right: 5rem;
  }
}

@media screen and (min-width: 1594px) {
  .about-info-wrapper {
    color: #06303F;
  }
  .about-info-wrapper .about-info-container {
    width: 100%;
    padding: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    text-align: justify;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40rem 1fr;
        grid-template-columns: 40rem 1fr;
    -ms-grid-rows: 5.5rem 1fr 15rem;
        grid-template-rows: 5.5rem 1fr 15rem;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 4rem;
    width: 90%;
    height: auto;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: "Merriweather", serif;
    width: 16rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2 /span 1/span 2;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-info-p {
    font-size: 1.4rem;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2/2;
    margin-bottom: 2rem;
    margin-right: 13rem;
    margin-top: 1rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .about-phone {
    width: 23rem;
    height: 37rem;
    margin-left: 17.5rem;
    margin-top: -1.3rem;
  }
  .about-info-wrapper .about-info-container .about-body .about-body-p .ab-p2 {
    font-size: 1.4rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3/2 / span 1 /span 2;
    margin-right: 13rem;
  }
}
/*# sourceMappingURL=about-info.css.map */